.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

img/*

css/bootstrap311/*
css/fonts/*

js/bootstrap311/*
